<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Registration update complete
          </h1>
          <div class="govuk-panel__body">
            Your reference is: <br><strong><%= @app_reference %></strong>
          </div>
        </div>

        <h2 class="govuk-heading-m">Thank you for providing more information for the Homes for Ukraine Scheme</h2>

        <p class="govuk-body">
          We’ve sent you an email receipt from the address noreply@levellingup.gov.uk with the subject "Homes for Ukraine: thank you for updating your registration of interest". If it does not appear in your inbox within a couple of minutes, please check your "spam" or "junk" folder.
        </p>

        <p class="govuk-body">
          Please keep checking on the <%= govuk_link_to 'Homes for Ukraine Scheme', 'https://homesforukraine.campaign.gov.uk/' %> page for updates.
        </p>
      </div>
    </div>
  </main>
</div>
