<div class="homes-for-ukraine">
  <img src="/images/HFU-Banner.png"
       class="attachment-full size-full"
       alt="Homes for Ukraine"
       loading="lazy"
       srcset="/images/HFU-Banner.png 1400w, /images/HFU-Banner-768x274.png 768w"
       sizes="(max-width: 1400px) 100vw, 1400px">
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_button_link_to 'Provide additional information', "/additional-info/start/anon-xxxx-xxxx-x" %>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  I've recorded my interest, what happens now?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">You will be kept updated. In the first phase of the scheme, sponsors will be able to bring named Ukrainians and their immediate family members to the UK. This will launch later this week, and if you have a named family or individual you wish to support you will be able to fill in a form requesting to sponsor them.</p>
    <p class="gem-c-lead-paragraph">Please see further <%= govuk_link_to 'FAQs', 'https://www.gov.uk/guidance/homes-for-ukraine-scheme-frequently-asked-questions' %> for those interested in becoming a sponsor.</p>
    <p class="gem-c-lead-paragraph">Please read the <%= govuk_link_to 'privacy notice', 'https://www.gov.uk/government/publications/homes-for-ukraine-scheme-expressions-of-interest-eois-privacy-notices' %> for further information about how the data you provide will be used before you proceed with your registration.</p>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  Follow Us
</h1>

<ul>
  <li><a href="https://twitter.com/luhc" target="_blank" rel="external noopener">
    <span>Twitter @luhc</span></a>
  </li>

  <li><a href="https://www.facebook.com/luhcgovuk" target="_blank" rel="external noopener">
    <span>Facebook</span></a>
  </li>
</ul>
