<div class="homes-for-ukraine">
  <img src="/images/HFU-Banner.png"
       class="attachment-full size-full"
       alt="Homes for Ukraine"
       loading="lazy"
       srcset="/images/HFU-Banner.png 1400w, /images/HFU-Banner-768x274.png 768w"
       sizes="(max-width: 1400px) 100vw, 1400px">
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="gem-c-title__text govuk-heading-l">
      Update your registration of interest
    </h1>
    <p class="gem-c-lead-paragraph">Please give us some more information to make it easier for local councils and other organisations to match your offer with people coming to the UK.</p>

    <h1 class="gem-c-title__text govuk-heading-l">
      Before you start
    </h1>
    <p class="gem-c-lead-paragraph"><%= govuk_link_to "Read the guidance", "https://www.gov.uk/guidance/homes-for-ukraine-scheme-frequently-asked-questions" %> about the Homes for Ukraine scheme and make sure you understand what a big commitment becoming a sponsor is.</p>
    <p class="gem-c-lead-paragraph">Have a discussion with everyone in your household about how sharing your home with people fleeing Ukraine may affect your lives.</p>

    <%= govuk_button_link_to "Start", "/additional-info/start/#{params["reference"]}" %>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  Next steps
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">If you choose not to update your registration, we will delete the information you’ve already submitted within 30 days of the update email we sent you. If you are still interested in becoming a sponsor, you will have to register your interest again.</p>
    <p class="gem-c-lead-paragraph">Please read the <%= govuk_link_to 'privacy notice', 'https://www.gov.uk/government/publications/homes-for-ukraine-scheme-expressions-of-interest-eois-privacy-notices' %> for further information about how the data you provide will be used before you proceed with your registration.</p>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  Follow Us
</h1>

<ul>
  <li><a href="https://twitter.com/luhc" target="_blank" rel="external noopener">
    <span>Twitter @luhc</span></a>
  </li>

  <li><a href="https://www.facebook.com/luhcgovuk" target="_blank" rel="external noopener">
    <span>Facebook</span></a>
  </li>
</ul>
