version: "3.7"

services:
  pg:
    image: postgres:13.5-alpine
    restart: always
    environment:
      - POSTGRES_DB=ukraine_test
      - POSTGRES_USER=ukraine
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"

  test:
    image: ukraine-sponsor-resettlement
    pull_policy: never
    depends_on:
      - pg
      - redis
      - sidekiq
      - s3
    profiles: ["test"]
    environment:
      # Rails will use existing .env.test file
      RAILS_ENV: test
    command: bin/test.sh

  sidekiq:
    build: .
    image: ukraine-sponsor-resettlement
    pull_policy: never
    depends_on:
      - pg
      - redis
      - mock-api
    environment:
      # Rails will use existing .env.development file
      RAILS_ENV: development
    command: bundle exec sidekiq

  redis:
    image: redis
    ports:
      - "6379:6379"

  s3:
    image: localstack/localstack:s3-latest
    container_name: localstack-s3
    environment:
      - PERSISTENCE=1
    ports:
      - "4566:4566"
    volumes:
      - "./bin/init-s3-localstack.py:/etc/localstack/init/ready.d/init-s3.py"

  mock-api:
    build: http-mock-server
    ports:
      - "8081:8081"
