<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-heading-l">Are you sure you want to cancel your application?</h1>
        </legend>
      </fieldset>
    <p>
      All the information you've provided will be deleted. This action cannot be reversed.
    </p>

    <%= form_for @application, url: "/sponsor-a-child/cancel-application/#{params["reference"]}", method: :post do |f| %>
      <%= f.govuk_submit t('cancel_application.cancel', scope: "unaccompanied_minor"),
                         name: "cancel_application",
                         class: "govuk-button--warning"%>
      <%= f.govuk_submit t('cancel_application.continue', scope: "unaccompanied_minor"),
                         name: "continue_application",
                         class: "govuk-button--secondary"%>
    <% end %>
  </div>
</div>
