<% provide(:title, "Check if you are eligible to use this service - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="gem-c-title__text govuk-heading-l">
      Check if you are eligible to use this service
    </h1>

    <p class="govuk-body">We need to ask you some questions before you start your application, to make sure you meet the basic eligibility requirements to use this service.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= govuk_button_link_to 'Continue', "/sponsor-a-child/steps/1" %>
      </div>
    </div>

  </div>
</div>
