<% provide(:title, "Application complete - ") %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number is <br><strong><%= @app_reference %></strong>
          </div>
        </div>

        <p class="govuk-body">
          We have sent you a confirmation email.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We've sent your application to your local council.
        </p>

        <p class="govuk-body">
          They will contact you to do some safety and criminal checks. They will also visit you at your home, to make sure you understand what is expected of you and that you can meet the needs of the child.
        </p>

        <p class="govuk-body">
          If these checks are successfully completed, they will send you the approval number you need to sponsor the child&#39;s visa.
        </p>

        <p class="govuk-body">
          <%= govuk_link_to 'Read the guidance on sponsoring a child from Ukraine', 'https://www.gov.uk/guidance/homes-for-ukraine-guidance-for-sponsors-children-and-minors-applying-without-parents-or-legal-guardians', target: "_blank" %> to learn more about the checks that will be made to confirm you can sponsor a child.
        </p>

        <p class="govuk-body">
          If your application is approved, you will only be approved to sponsor the child named in this application. If you would like to sponsor another child, you must <%= govuk_link_to 'complete another application', '/sponsor-a-child', target: "_blank" %>, even if the children are related.
        </p>
      </div>
    </div>
  </main>
</div>
