<% provide(:title, t('apply_to_sponsor.short', scope: "unaccompanied_minor") + " - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="gem-c-title__text govuk-heading-l">
     <%= t('apply_to_sponsor.short', scope: "unaccompanied_minor") %>
    </h1>

    <p class="govuk-body">Use this service to apply for approval to sponsor a child fleeing Ukraine, who is not travelling with or joining their parent or legal guardian in the UK.</p>

    <p class="govuk-body">Unlike sponsoring an adult or a family, you will need to get parental consent and permission from your local council before the child can apply for a visa.</p>

    <p class="govuk-body">Make sure you have read and understood the <a href="https://www.gov.uk/guidance/homes-for-ukraine-guidance-for-sponsors-children-and-minors-applying-without-parents-or-legal-guardians" target="_blank">guidance for sponsoring a child fleeing Ukraine  (opens in a new tab)</a> without their parent or legal guardian. Read the eligibility sections carefully,
      especially the requirement that you should know the child's parents, unless there are exceptional circumstances.
    </p>

    <%= govuk_accordion do |accordion|
      accordion.with_section(heading_text: "1. Get parental consent") { tag.p(t('parental_consent_text.long_html', scope: "unaccompanied_minor")) }

      accordion.with_section(heading_text: "2. Apply for approval from your local council") { tag.p(t('local_council_approval.long_html', scope: "unaccompanied_minor")) }

      accordion.with_section(heading_text: "3. The child applies for a visa") { tag.p(t('child_visa_applies.long_html', scope: "unaccompanied_minor")) }
      end %>

  </div>
</div>

