
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-l">
      You cannot use this service
    </h1>

    <p class="govuk-body">This service is for sponsoring children travelling to the UK without a legal guardian.</p>

    <p class="govuk-body govuk-!-font-weight-bold">To apply the child must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be under 18</li>
      <li>have been living in Ukraine on 31 December 2021</li>
      <li>be applying to come to the UK without a parent or legal guardian</li>
      <li>have written consent from their parent or legal guardian</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">To apply you (the sponsor) must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be over 18</li>
      <li>have permission to live and work in the UK for at least 3 years</li>
      <li>commit to caring for the child in the UK for at least 3 years</li>
    </ul>

    <p class="govuk-body">To sponsor an adult fleeing Ukraine, they can apply for a visa straight away using your details.</p>
    
    <p class="govuk-body">
        <a class="govuk-link" href="">Read guidelines on sponsoring an adult fleeing Ukraine</a>
    </p>
    
    <p class="govuk-body">
        <a class="govuk-link" href="">Apply for a visa from the Home Office.</a>
    </p>
  </div>
</div>
