
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="gem-c-title__text govuk-heading-l">
      You cannot use this service
    </h1>

    <p class="govuk-body">This service is for sponsoring a child fleeing Ukraine, who is not travelling with or joining their parent or legal guardian in the UK. </p>

    <p class="govuk-body govuk-!-font-weight-bold">To apply the child must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be under 18</li>
      <li>have been living in Ukraine on or before 31 December 2021</li>
      <li>be applying to travel to the UK either without a parent or legal guardian, or not joining them in the UK</li>
      <li>have written consent from their parent or legal guardian</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">To apply you (the sponsor) must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be over 18</li>
      <li>have permission to live and work in the UK for at least 3 years</li>
      <li>care for the child in the UK for at least 3 years, or until they turn 18 and you have hosted them for at least 6 months</li>
    </ul>

    <p class="govuk-body">If you want to sponsor an adult fleeing Ukraine, they can apply for a visa straight away using your personal details.</p>
    
    <p class="govuk-body govuk-!-font-weight-bold">If you made a mistake</p>

    <p class="govuk-body">
        <a class="govuk-link" href="#" onclick="history.go(-1);return false;">Go back to the previous page</a>
    </p>

    <p class="govuk-body govuk-!-font-weight-bold">Other ways to sponsor someone from Ukraine</p>

    <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-a-ukraine-family-scheme-visa" target="_blank">Sponsor a family member from Ukraine</a>
    </p>

    <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-a-visa-under-the-ukraine-sponsorship-scheme" target="_blank">Sponsor someone you already know from Ukraine</a>
    </p>
    
    <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/register-interest-homes-ukraine" target="_blank">Register your interest with Homes for Ukraine</a>
    </p>
  </div>
</div>
