<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">We've sent you an email with a link to your saved application</h1>

    <p class="govuk-body">
        We've sent the link to the email address you have provided.
    </p>

    <p class="govuk-body">
      When you are ready to continue your application, click on the link. If it has expired, we will send you a new link.
    </p>

    <p class="govuk-body">
      If you would like to cancel your application, follow the link and you are able to cancel your application at the bottom of the first page.
    </p>

  </div>
</div>
