<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-l">
      Apply to provide a safe home for a child from Ukraine
    </h1>

    <p class="govuk-body">Use this service to apply for approval to sponsor a child fleeing Ukraine, who is not travelling with or joining their parent or legal guardian in the UK.</p>

    <p class="govuk-body">You need to submit a separate application for each child you want to sponsor.</p>

    <p class="govuk-body">You must receive this approval before you can apply for a visa under the Ukraine Sponsorship Scheme (Homes for Ukraine).</p>

    <p class="govuk-body">If your council approves your application, they will send you a 'child sponsorship approval number' to use in the visa application.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= govuk_button_link_to 'Start now', "/sponsor-a-child/check" %>
      </div>
    </div>

    <h1 class="gem-c-title__text govuk-heading-l">
      Before you start
    </h1>

    <p class="govuk-body">You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to read and understand the <a href="https://www.gov.uk/guidance/homes-for-ukraine-guidance-for-sponsors-children-and-minors-applying-without-parents-or-legal-guardians" target="_blank" class="govuk-link">guidance for sponsoring a child fleeing Ukraine</a> without their parent or legal guardian</li>
      <li>a digital copy of your completed, signed and certified 'Ukraine certified consent form'</li>
      <li>a digital copy of your completed and signed <a href="https://www.gov.uk/guidance/homes-for-ukraine-guidance-for-sponsors-children-and-minors-applying-without-parents-or-legal-guardians" target="_blank" class="govuk-link">UK sponsorship arrangement consent form</a></li>
      <li>the full name and date of birth of the child you want to sponsor</li>
      <li>the full address where the child will live in the UK</li>
      <li>the full names, dates of birth and identification documents of all the people the child will live with</li>
    </ul>

  </div>
</div>




