  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Can you commit to hosting for at least 6 months?
      </h1>

      <p>You must be able to commit to hosting someone for at least 6 months to participate in the scheme. We'll ask you to tell us when you can start hosting.

<br><br>
If circumstances change at any time, you can contact your local council to let them know.</p>

      <br/>

      <div class="govuk-form-group">
        <p style="display:none" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You must select an option to continue
        </p>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" type="radio" data-next="/expression-of-interest/self-assessment/your-info" value="yes">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" data-next="/expression-of-interest/self-assessment/other-ways-to-help" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                No
                </label>
            </div>
            </div>

        </fieldset>
        </div>

        <button id="selfAssessmentContinueButton"  class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>

