  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div  style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#selectoption">You must select an option to continue</a>
          </li>

        </ul>
      </div>
    </div>



      <div class="govuk-form-group">
        <p style="display:none" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You must select an option to continue
        </p>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">
                Can you commit to hosting for at least 6 months?
              </h1>

              <p>You must be able to commit to hosting someone for at least 6 months to participate in the scheme. We'll ask you to tell us when you can start hosting.

              <br><br>
              <p>If circumstances change at any time, you can contact your local council to let them know.</p>

              <br/>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="assessment-buttons-can-you-commit-yes-field" name="assessment-buttons" type="radio" data-next="/expression-of-interest/self-assessment/your-info" value="yes">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons-can-you-commit-yes-field">
                Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="assessment-buttons-can-you-commit-no-field" name="assessment-buttons" data-next="/expression-of-interest/self-assessment/other-ways-to-help" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons-can-you-commit-no-field">
                No
                </label>
            </div>
            </div>

        </fieldset>
        </div>

        <button id="selfAssessmentContinueButton"  class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>

