
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        There are some challenges
      </h1>

      <p>These are some of the challenges hosts may face, so you need to carefully consider:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>covering additional household costs - you receive £350 a month, but isn't always enough</li>
        <li>communicating with guests who don't speak English fluently</li>
        <li>changes in family dynamics</li>
        <li>differences in living habits, including household tasks and eating preferences</li>
        <li>deciding on boundaries and how you want to live together.</li>
      </ul>
      <p>Your property doesn’t need to meet every requirement.</p>

      <br/>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
        Could your home be suitable?
            </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" type="radio" data-next="/expression-of-interest/steps/1" value="yes">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" data-next="/expression-of-interest/self-assessment/other-ways-to-help" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                No
                </label>
            </div>
            </div>

        </fieldset>
        </div>

        <button id="selfAssessmentContinueButton"  class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>

