  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#selectoption">You must select an option to continue</a>
          </li>

        </ul>
      </div>
    </div>

      <h1 class="govuk-heading-l">
        Important things to consider
      </h1>

      <p>Hosting can be a very rewarding experience, but there are some important things you need to think about carefully before continuing:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the additional household costs with more people living in your home</li>
        <li>communicating with guests who don't speak your first language fluently</li>
        <li>changes in your household dynamics when sharing your home with guests</li>
        <li>differences in living habits, including household tasks and eating preferences</li>
        <li>deciding on boundaries and how you want to live together</li>
      </ul>

      <br/>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
           <h2 class="govuk-heading-m"> Do you feel hosting is right for you and your household?</h2>
      </legend>
      <div class="govuk-form-group">
        <p style="display:none" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You must select an option to continue
        </p>
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" type="radio" data-next="/expression-of-interest/self-assessment/can-you-commit" value="yes">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                Yes
                <div class="govuk-hint">Everyone in my household is happy to host</div>
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" data-next="/expression-of-interest/self-assessment/other-ways-to-help" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                No
               <div class="govuk-hint">This is not right for me now</div>
                </label>
            </div>
            </div>

        </fieldset>
        </div>

        <button id="selfAssessmentContinueButton"  class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>

