  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#selectoption">You must select an option to continue</a>
          </li>

        </ul>
      </div>
    </div>

      <h1 class="govuk-heading-l">
        CHOOSE COUNTRY
      </h1>

      <p>CONTENT CONTENT CONTENT</p>

      

      <br/>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
           <h2 class="govuk-heading-m"> Do you feel hosting is right for you and your household?</h2>
      </legend>
      <div class="govuk-form-group">
        <p style="display:none" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You must select an option to continue
        </p>
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" data-next="/expression-of-interest/self-assessment/your-info" type="radio" value="England">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                England
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" data-next="/expression-of-interest/self-assessment/your-info" type="radio" value="NI">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                Northern Ireland
                </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"  name="assessment-buttons" data-next="https://www.gov.scot/ukraine/" type="radio" value="Scotland">
              <label class="govuk-label govuk-radios__label" for="assessment-buttons">
              Scotland
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"  name="assessment-buttons" type="radio" data-next="https://gov.wales/offer-home-wales-refugees-ukraine" value="Wales">
                <label class="govuk-label govuk-radios__label" for="assessment-buttons">
                Wales
                </label>
            </div>
            </div>

        </fieldset>
        </div>

        <button id="selfAssessmentContinueButton"  class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>

