<% provide(:title, "You have entered an address that is not in England or Northern Ireland - ") %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You have entered an address that is not in England or Northern Ireland</h1>
      <p>To use this service, the accommodation you’re offering must be in England or Northern Ireland. If you have entered the wrong address, click ‘Back’ and enter the correct address.</p>
      <h2 class="govuk-heading-m">Is the accommodation in Scotland or Wales?</h2>
      <p>If the accommodation you’re offering is in Scotland or Wales, you must complete the registration form for that country.</p>
      
      <p><a href="https://www.mygov.scot/homes-for-ukraine-scotland-super-sponsor-scheme">Register your interest in Scotland</a></p>
      <p><a href="https://gov.wales/offer-home-wales-refugees-ukraine">Register your interest in Wales</a></p>

      <h2 class="govuk-heading-m">Contact the local council</h2>
      <p>If you think the address you entered is in England or Northern Ireland, you can confirm this with the local council that provides services to that property. You may be able to register your interest directly with the council.</p>
      <p><a href="https://www.gov.uk/find-local-council">Find the local council</a></p>

      <h2 class="govuk-heading-m">Addresses outside of the UK</h2>
      <p>If the accommodation you’re offering is outside of the UK, you cannot register for the Homes for Ukraine Scheme.
      </p>

    </div>
  </div>
