
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Is your property suitable for hosting?
      </h1>

      <p>Here’s a list of things for you to consider about the property you’re offering, before you commit to hosting people from Ukraine:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>enough space to live comfortably</li>
        <li>affordable public transport connections</li>
        <li>employment opportunities nearby</li>
        <li>schools and education facilities nearby</li>
        <li>opportunities to find or make friends nearby</li>
      </ul>
      <p>Your property doesn’t need to meet every requirement.</p>

      <br/>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
  Could your home be suitable?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  name="assessment-buttons" type="radio" data-next="/expression-of-interest/self-assessment/challenges" value="yes">
        <label class="govuk-label govuk-radios__label" for="assessment-buttons">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  name="assessment-buttons" data-next="/expression-of-interest/self-assessment/other-ways-to-help" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="assessment-buttons">
          No
        </label>
      </div>

    </div>

  </fieldset>
</div>

    <button id="selfAssessmentContinueButton"  class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>

