<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#selectoption">You must select an option to continue</a>
          </li>

        </ul>
      </div>
    </div>

      <h1 class="govuk-heading-l">
        Check if your property is suitable for hosting
      </h1>

      <p>Here's a list of things for you to consider about the property you're offering, before you commit to hosting people from Ukraine. 
      </br></br>
      Ask yourself if your property has:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>enough space to live comfortably</li>
        <li>easy access to affordable public transport</li>
        <li>shops and restaurants nearby</li>
        <li>employment opportunities in the area</li>
        <li>schools and education facilities nearby</li>
        <li> opportunities to socialise in the area</li>
      </ul>
     <h2 class="govuk-heading-m"> Do you think your home is suitable?</h2>
      <p>Your property doesn't have to meet every requirement, but the more it has, the better your chances of becoming a host.</p>

      <br/>

<div class="govuk-form-group">
  <p style="display:none" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> You must select an option to continue
    </p>
  <fieldset class="govuk-fieldset">

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="assessment-buttons-property-suitable-yes-field" name="assessment-buttons" type="radio" data-next="/expression-of-interest/self-assessment/challenges" value="yes">
        <label class="govuk-label govuk-radios__label" for="assessment-buttons-property-suitable-yes-field">
          Yes
          <div class="govuk-hint">I think my home is suitable</div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="assessment-buttons-property-suitable-no-field" name="assessment-buttons" data-next="/expression-of-interest/self-assessment/other-ways-to-help" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="assessment-buttons-property-suitable-no-field">
          No
         <div class="govuk-hint">My home is not suitable for hosting</div>

        </label>
      </div>

    </div>

  </fieldset>
</div>

    <button id="selfAssessmentContinueButton"  class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>
