<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Now we need your information
      </h1>

      <p>We will now ask you for some detailed, personal information to help you find a suitable guest. 
   <br/><br/>

This information will be securely sent to your local council and their charitable partners, who are actively seeking new hosts for guests already living in the UK.
   <br/><br/>
Your council will perform some checks to make sure the property you're offering and the people living in it are suitable for hosting.
   <br/><br/>
You will be contacted if a suitable guest is found that matches your offer.</p>

      <br/>
   <a href="/expression-of-interest/steps/1"> <button id="selfAssessmentContinueButton" class="govuk-button" data-module="govuk-button">Continue</button></a>

    </div>
  </div>

