
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        There are other ways you can help
      </h1>

      <p>You might not feel hosting is the right choice for you, but there are other ways you can help:</p>
    
      <p>If you later decide you want to become a host, you can <a href="register">register for updates and hosting opportunities.</a></p>

      <br/>
    
      <form class="form" action="challenges">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

