  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        There are other ways you can help
      </h1>

      <p>We appreciate you might not feel that hosting is the right choice for you now, but there are other ways you can help:</p>


      <ul class="govuk-list govuk-list--bullet">
        <li><a target="_blank" href="https://www.gov.uk/find-local-council">contact your local council (opens in a new tab)</a> if you can offer temporary accommodation for less than 6 months</li>
        <li><a target="_blank" href="https://www.gov.uk/government/news/ukraine-what-you-can-do-to-help">#StandWithUkraine (opens in a new tab)</a> - discover other ways of supporting people from Ukraine, including how to donate money and supplies</li>
        <li><a target="_blank" href="https://www.gov.uk/government/publications/apply-for-full-community-sponsorship">community sponsorship (opens in a new tab)</a> - get involved with community groups that support the resettlement of vulnerable people fleeing conflict</li> 
        <li><a target="_blank" href="https://www.gov.uk/government/get-involved/take-part/volunteer">volunteering (opens in a new tab)</a>  - find out how to volunteer in your local community and give your time to help others</li>
        <li><a target="_blank" href="https://www.gov.uk/guidance/recognised-providers-organisations-who-can-help-guests-from-ukraine-find-sponsors-in-the-uk">support these organisations (opens in a new tab)</a>  that help guests from Ukraine find sponsors in the UK</li>
       </ul>
    
      <p>If you later decide you want to become a host, please come back to register for hosting opportunities.</p>

    </div>
  </div>

