<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= form_for @application, url: "/sponsor-a-child/resend-link", method: :post do |f| %>
      <%= f.govuk_error_summary link_base_errors_to: :email %>
    
    <% if flash[:error] == "expired" %>
      <h1 class="govuk-heading-l">This link has expired</h1>
    <% else %>
      <h1 class="govuk-heading-l">Request a secure link to your application</h1>
    <% end %>

    <p class="govuk-body">
        Confirm your email address and we will send you a new one so you can continue your application.
    </p>

      <%= f.govuk_text_field :email,
                             label: { text: t('email.label_email', scope: "unaccompanied_minor.questions") },
                             type: "email"
      %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-button-group">
            <%= f.govuk_submit t('Send link') %>

            <a class="govuk-link" href="/sponsor-a-child/start">Start a new application</a>
          </div>
        </div>

    </div>
    <% end %>
  </div>
</div>
