<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-l">
      Your session has timed out due to inactivity
    </h1>

    <p class="govuk-body">Your application session has timed out because you did not do anything for 30 minutes. This is to protect your information.</p>

    <p class="govuk-body">We've sent a link to your email you can use to continue your application.</p>

  </div>
</div>




