<%= govuk_breadcrumbs(breadcrumbs: [govuk_breadcrumb_link_to("Home", "https://wwww.gov.uk"),
                                    govuk_breadcrumb_link_to("Society and Culture", "https://www.gov.uk/society-and-culture"),
                                    govuk_breadcrumb_link_to("Community and Society", "https://www.gov.uk/society-and-culture/community-and-society")]) %>

<h1 class="gem-c-title__text govuk-heading-l">
  Local Sponsorship Scheme for Ukraine
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">The scheme will match people, charities, businesses and community groups to Ukrainians who do not have established families in the country, so they are able to come the UK.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">Express your interest in sponsoring a Ukrainian refugee by registering spare accommodation with us that can be used to accommodate a refugee.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_button_link_to 'Register Your Interest', '#' %>
  </div>
</div>
