<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="gem-c-title__text govuk-heading-l">
      Homes for Ukraine:
    <br/>
      Register to host people already living in the UK (rematching)
    </h1>

    <p class="govuk-body">Thanks to the generosity of the British people, over 100,000 people from Ukraine have arrived in the UK and are living safely in their hosts’ homes.</p>

    <p class="govuk-body">Many of these guests now need to find a new host while they prepare to live independently, because their original hosts are reaching the end of their commitment.</p>

    <p class="govuk-body">Hosts will receive a monthly thank-you payment for providing a home for guests. They will receive £350 a month during the guests’ first 12 months in the UK and £500 a month during their second 12 months.</p>

    <p class="govuk-body">Guests already living in the UK usually need far less support from their hosts than someone who has just landed in the UK.</p>

    <p class="govuk-body">Many guests have already found work and are settling into their local area, making them more self-sufficient.</p>

    <br/>

    <h2 class="govuk-heading-m">
      Check if being a host is right for you
    </h2>

      <p class="govuk-body">Hosting people from another country is a big commitment, so we’ve prepared some questions to help you decide if it’s right for you.</p>

      <p class="govuk-body">You'll be able to register after you've answered these questions.</p>


      <a href="/expression-of-interest/self-assessment/property-suitable" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
      </a>

      <h2 class="govuk-heading-m"> If you want to sponsor a child without their parent or legal guardian</h2>
 
        <p class="govuk-body">Sponsoring a child who is not travelling with, or joining their parent or legal guardian in the UK requires a different visa application process to sponsoring an adult or family.</p>
        
        <p class="govuk-body">You must get written consent from their parent or legal guardian (for legal guardians you will also need a copy of the court order that confirms their guardianship) and get permission from your local council before you can sponsor the child.</p>
        
        <p class="govuk-body"><a href="/sponsor-a-child">Apply to provide a safe home for a child from Ukraine</a></p>

        <h2 class="govuk-heading-m">
          Is the accommodation in Scotland or Wales?
        </h2>

      <p class="govuk-body">If the accommodation you`re offering is in Scotland or Wales, you need to complete the registration form for that country.</p>

      <p><a href="https://www.mygov.scot/homes-for-ukraine-scotland-super-sponsor-scheme">Register your interest in Scotland</a></p>

      <p><a href="https://gov.wales/offer-home-wales-refugees-ukraine">Register your interest in Wales</a></p>

      <br>

      <hr>
      <br>
     <h2 class="govuk-heading-m">
      If you need more information
    </h2>

    <p class="govuk-body">You can also read the <a id="guidance-link" target="_blank" href="https://www.gov.uk/guidance/homes-for-ukraine-sponsor-guidance">guidance for sponsors (opens in a new tab)</a>, which contains all the government's  information for sponsors and hosts.</p>




  </div>
</div>

