
    <div  class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on Homes for Ukraine">
          <% if !@cookie_accepted && @cookie_banner_form_step == 1  %>  

        <div class="govuk-cookie-banner__message govuk-width-container" >

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Homes for Ukraine</h2>

                    <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">We use some essential cookies to make this service work.</p>
                    <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use this service and make improvements.</p>
                    </div>
                </div>
            </div>

            <div id="cookie-banner__button-group" class="govuk-button-group">
            <%= link_to "Accept analytics cookies", request.original_url + '?cookies_accepted=true',  class: 'govuk-button cookie-button', method: :post, value:"accept"  %>
            <%= link_to "Reject analytics cookies", request.original_url + '?cookies_accepted=false',  class: 'govuk-button cookie-button', method: :post, value:"reject"  %>
            <a class="govuk-link" id="cookies-page-link" href="/cookies">View cookies</a>
            </div>
        </div>
           <% end %>  
          <% if @cookie_accepted && !@cookie_message_hidden || !@cookie_accepted && !@cookie_message_hidden && @cookie_banner_form_step == 2 %>  

    <div class="govuk-cookie-banner__message govuk-width-container" >

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">You’ve  <%= @cookies_accepted ? "accepted" : 'rejected'  %>  additional cookies.                       
            You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>

          </div>
        </div>
      </div>

      <div class="govuk-button-group">

      <%= link_to "Hide cookie message", request.original_url + '?&c_m_h=true',  class: 'govuk-button',method: :post  %>
      </div>
    </div>
     <% end %>  


 