<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <%= form_for @application, url: "/unaccompanied-minor/steps/15", method: :post do |f| %>
      <%= f.govuk_text_field :phone_number,
        label: { text: t('phone_number.full', scope: "unaccompanied_minor.questions"), size: 'm' },
        hint: { text: t('phone_number.hint', scope: "unaccompanied_minor.questions")},
        type: "tel"
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
