<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h2 class="govuk-heading-m"><%= t('no_received_consent.heading', scope: "unaccompanied_minor") %></h2>

    <p class="gem-c-lead-paragraph">
      <%= t('no_received_consent.body_html', scope: "unaccompanied_minor") %>
    </p>
  </div>
</div>
