<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-l">
      You can use this service
    </h1>
    <p class="gem-c-lead-paragraph">You can now start an application.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= govuk_button_link_to 'Start application', "/unaccompanied-minor/task-list" %>
      </div>
    </div>
  </div>
</div>
