<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <%= form_for @application, url: "/sponsor-a-child/upload-uk/27", method: :post do |f| %>
      <%= f.govuk_file_field :uk_parental_consent,
        label: { text: t("uk_parental_consent.full", :name => @application.minor_full_name?, scope: "unaccompanied_minor.questions"), size: 'm' },
        hint: { text: t("uk_parental_consent.hint", scope: "unaccompanied_minor.questions") }
      %>
      <%= f.govuk_submit t('Upload') %>
    <% end %>
  </div>
</div>

