<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l"><%= t('resident_nationality.full', scope: "unaccompanied_minor.questions")%></h1>

    <%= form_for @application, url: "/sponsor-a-child/steps/30/#{params["key"]}", method: :post do |f| %>

      <%= f.govuk_collection_select :adult_nationality, @nationalities, :val, :name,
                                    label: { text: "", hidden: true },
                                    hint: { text: t('resident_nationality.hint_html', :name => "#{@adult["given_name"]} #{@adult["family_name"]}", scope: "unaccompanied_minor.questions")}
      %>

      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        
        <% if @feature_save_and_return_active == true %>
          <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
        <% end %>
      </div>
    
    <% end %>

  </div>
</div>
