<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

   <h1 class="gem-c-title__text govuk-heading-l">
      You must upload 2 completed parental consent forms
   </h1>
     <p class="govuk-body">
         You will need to upload these 2 completed and signed forms:
     </p>

     <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="dummy-link">UK sponsorship arrangement consent form</a> on the next page</li>
        <li><a class="govuk-link" href="dummy-link">Ukraine notarised consent form</a> on another page.</li>
     </ul>

     <p class="govuk-body">
        These forms must be completed by at least one parent or legal guardian.
        <br/>
        <br/>
        <a class="govuk-link" href="dummy-link">Read guidance about parental consent forms.</a>
     </p>

     <%= govuk_button_link_to 'Continue', "/sponsor-a-child/steps/36" %>
  </div>
</div>
