<% provide(:title, session[:has_error] || '' + "You must upload 2 completed parental consent forms - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
   <h1 class="gem-c-title__text govuk-heading-l">
      You must upload 2 completed parental consent forms
   </h1>
        </legend>
      </fieldset>

   
     <p class="govuk-body">
         You will need to upload these 2 completed and signed forms:
     </p>

     <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://www.gov.uk/government/publications/homes-for-ukraine-uk-sponsorship-arrangement-consent-form" target="_blank">UK sponsorship arrangement consent form (opens in a new tab)</a> on the next page</li>
        <li>'Ukraine certified consent form' on another page</li>
     </ul>

     <p class="govuk-body">
        These forms must be completed by at least one parent or legal guardian.
        <br/>
        <br/>
        <a class="govuk-link" href="https://www.gov.uk/guidance/homes-for-ukraine-guidance-for-sponsors-children-and-minors-applying-without-parents-or-legal-guardians#parent-or-legal-guardian-consent" target="_blank">Read guidance about parental consent forms (opens in a new tab)</a>
     </p>

    <%= form_for @application, url: "/sponsor-a-child/steps/35", method: :post do |f| %>
      <%= f.govuk_text_field :have_parental_consent,
                             label: { text: 'Continue to form upload', hidden: true },
                             type: "hidden",
                             value: "yes"
      %>

      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>
  </div>
</div>
