<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-xl">
      Upload the Ukraine notarised consent form
   </h1>

   <div class="govuk-inset-text">
    <%=@application.minor_full_name?%>
   </div>


    <%= form_for @application, url: "/sponsor-a-child/upload-ukraine/37", method: :post do |f| %>
      <%= f.govuk_file_field :ukraine_parental_consent,
        label: { text: "Upload a file" }%>

         <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    I need help
                    </span>
                </summary>
                <div class="govuk-details__text">
                You can upload the most common file types, like images and documents.<br/>
                <br/>
                You can only upload 1 file. If you have multiple files, please use an app or website to combine the documents into a single PDF file.<br/>
                <br/>
                If the parents or guardians are struggling to complete the form and send it to you, they should <a class="govuk-link" href="dummy-link"> read the guidance on completing parental consent forms.</a>

                </div>

            </details>

      <%= f.govuk_submit t('Continue') %>
    <% end %>
  </div>
</div>

