<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You are eligible to use this service
    </h1>

    <p class="govuk-body">
      You can now apply to sponsor a child fleeing Ukraine, who is not travelling with or joining a parent or legal guardian under the Homes for Ukraine Scheme.
    </p>

    <%= govuk_button_link_to 'Start application', "/sponsor-a-child/start-application" %>

  </div>
</div>
