<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-l">
      Apply for permission to sponsor a child fleeing Ukraine without a parent
    </h1>

    <p class="govuk-body">Use this service to apply for permission to sponsor a child fleeing Ukraine who is not accompanied by their legal guardian.</p>

    <p class="govuk-body">You need to submit a separate application for each child you want to sponsor.</p>

    <p class="govuk-body">You must receive this permission before you can apply for a visa under the Ukraine Sponsorship Scheme (Homes for Ukraine).</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= govuk_button_link_to 'Start now', "/unaccompanied-minor/check" %>
      </div>
      <a href="" class="govuk-link">Continue a saved application</a>
    </div>

    <h1 class="gem-c-title__text govuk-heading-l">
      Before you start
    </h1>

    <p class="govuk-body">Make sure you have:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>read and understood the process for sponsoring a child fleeing Ukraine without a parent</li>
      <li>a digital copy of your signed <a href="" class="govuk-link">British parental consent form</a></li>
      <li>a digital copy of your signed and notarised <a href="" class="govuk-link">Ukrainian parental consent form</a></li>
      <li>the full name and date of birth of the child you want to sponsor</li>
      <li>the full address where you and the child will stay in the UK</li>
    </ul>

  </div>
</div>




