<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-l">
      Apply for certification to sponsor a child travelling on their own
    </h1>

    <p class="gem-c-lead-paragraph">Use this service to apply for a certificate that shows you are suitable to sponsor a child who has been displaced from Ukraine.</p>

    <p class="gem-c-lead-paragraph">You will need to submit one application per child you would like to sponsor.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= govuk_button_link_to 'Start now', "/unaccompanied-minor/steps/1" %>
      </div>
    </div>

    <h1 class="gem-c-title__text govuk-heading-l">
      Before you start
    </h1>

    <p class="gem-c-lead-paragraph">Make sure you have:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a digital copy of your signed parental consent form</li>
      <li>the full name and date of birth of the child you want to sponsor</li>
      <li>the full address where you and the child will stay in the UK</li>
    </ul>

  </div>
</div>




