@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$govuk-global-styles: true;

@import "~govuk-frontend/govuk/all";

@import "homes_for_ukraine";

@import "gds-step_by_step_navigation.scss";

@import "gds-step_by_step_navigation-ie8.scss";
