<% content_for :title, "Sorry, you have sent too many requests to our service - Homes for Ukraine - GOV.UK" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= content_for(:title) %></h1>
    <p class="govuk-body">Try again in a minute.</p>
  </div>
</div>
