<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application, url: "/individual/steps/1", method: :post do |f| %>
      <%= f.govuk_collection_radio_buttons :family_type,
          @application.family_types.map{ |type| OpenStruct.new(id: type, name: t(type, scope: "individual.family_type")) },
          :id,
          :name,
          legend: { text: t('family_type.full', scope: "individual.questions") }
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
