<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application, url: "/individual/steps/2", method: :post do |f| %>
      <%= f.govuk_collection_check_boxes :living_space,
          @application.living_space_types.map{|type| OpenStruct.new(id: type, name: t(type, scope: "individual.living_space")) },
          :id,
          :name,
          legend: { text: t('living_space.full', scope: "individual.questions") }
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
