<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "shared/back_link" %>

    <%= form_for @application, url: "/organisation/steps/8", method: :post do |f| %>
      <%= f.govuk_text_field :organisation_name,
        label: { text: t('organisation_name.full', scope: "organisation.questions") }
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
