# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Deploy to Amazon ECS STAGING

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  AWS_REGION: eu-west-2
  AWS_NAMESPACE: paasmigration-staging
  NODE_VERSION: 24.10.x

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16.10
        env:
          POSTGRES_DB: ukraine_test
          POSTGRES_USER: ukraine
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        # tmpfs makes DB faster by using RAM
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      clamav:
        # Docker Hub image
        image: clamav/clamav:stable
        ports:
          - 3310:3310

    env:
      RAILS_ENV: test
      INSTANCE_NAME: ukraine-sponsor-resettlement-test
      VCAP_SERVICES: '{"redis":[{"instance_name":"ukraine-sponsor-resettlement-test-redis","credentials":{"uri":"redis://redis"}}],"aws-s3-bucket":[{"instance_name":"ukraine-sponsor-resettlement-test-s3","credentials":{"aws_access_key_id":"access-key-id","aws_secret_access_key":"secret-access-key","aws_region":"eu-west-2","bucket_name":"test-bucket"}}]}'
      GEMFILE_RUBY_VERSION: 3.1.4
      DB_HOST: localhost
      DB_DATABASE: ukraine_test
      DB_USERNAME: ukraine
      DB_PASSWORD: password
      GOVUK_NOTIFY_API_KEY: ${{ secrets.GOVUK_NOTIFY_API_KEY }}
      CLAMD_HOST: localhost
      CLAMD_PORT: 3310

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refToDeploy }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install clamav
        run: |
          sudo apt-get update
          sudo apt-get install clamdscan

      - name: Create DB
        run: |
          bundle exec rake db:prepare
      - name: Migrate DB
        run: |
          bundle exec rake db:migrate
      - name: Compile Assets
        run: |
          bundle exec rake assets:precompile
      - name: Run localstack
        run: |
          docker run -d\
            --rm \
            -p 4566:4566 \
            -v "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack" \
            -v "/var/run/docker.sock:/var/run/docker.sock" \
            -v "./bin/init-s3-localstack.py:/etc/localstack/init/ready.d/init-s3.py" \
            localstack/localstack:s3-latest
      - name: Run tests
        run: |
          bundle exec rake

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refToDeploy }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true

      - name: Rubocop
        run: |
          bundle exec rubocop

  audit:
    name: Audit dependencies
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refToDeploy }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true

      - name: Audit
        run: |
          bundle exec bundler-audit

  brakeman-scan:
    name: Brakeman Scan
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refToDeploy }}

      # Customize the ruby version depending on your needs
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1

      - name: Setup Brakeman
        run: |
          gem install brakeman

      # Execute Brakeman CLI and generate a SARIF output with the security issues identified during the analysis
      - name: Scan
        run: |
          brakeman --color -o /dev/stdout

  build-image:
    name: Build webapp image
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: latest
      IMAGE_NAME: ukrainian-sponsor-resettlement-webapp
    outputs:
      IMAGE_FILENAME: ${{ steps.save-docker-image.outputs.IMAGE_FILENAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refToDeploy }}
      - name: Get timestamp
        id: get-timestamp
        run: echo "TIMESTAMP=$(date '+%s')" >> $GITHUB_OUTPUT

      - name: Build docker image
        id: build-docker-image
        env:
          IMAGE: "${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}"
        run: |
          docker build -t "$IMAGE" -f Dockerfile .
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
      - name: Save docker image to file
        id: save-docker-image
        env:
          IMAGE_FILENAME: "${{ env.IMAGE_NAME }}-${{ env.IMAGE_TAG }}-${{ steps.get-timestamp.outputs.TIMESTAMP }}.tar"
        run: |
          docker image save -o "$IMAGE_FILENAME" "$IMAGE"
          echo "IMAGE_FILENAME=$IMAGE_FILENAME" >> $GITHUB_OUTPUT

      - name: Upload docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.save-docker-image.outputs.IMAGE_FILENAME }}
          path: ${{ steps.save-docker-image.outputs.IMAGE_FILENAME }}
          if-no-files-found: error

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    environment: aws-staging
    needs: [lint, test, brakeman-scan, build-image]
    outputs:
      IMAGE: ${{ steps.import-docker-image.outputs.IMAGE }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refToDeploy }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Download docker image
        uses: actions/download-artifact@v5
        with:
          name: ${{ needs.build-image.outputs.IMAGE_FILENAME }}
      - name: Import docker image
        id: import-docker-image
        env:
          IMAGE_FILENAME: ${{ needs.build-image.outputs.IMAGE_FILENAME }}
          IMAGE_NAME: "${{ steps.login-ecr.outputs.registry }}/${{ env.AWS_NAMESPACE }}-webapp-repository:latest"
        run: |
          docker image import $IMAGE_FILENAME "$IMAGE_NAME"
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE=$IMAGE_NAME" >> $GITHUB_OUTPUT

      - name: Push image to Amazon ECR
        id: push-image
        run: docker push $IMAGE_NAME

      - name: Run DB migrations
        id: db-migrate
        env:
          TASK_DEFINITION: ${{ env.AWS_NAMESPACE }}-dbmigrate
          ECS_CLUSTER: ${{ env.AWS_NAMESPACE }}-ecs-cluster
        run: aws ecs run-task --cluster "$ECS_CLUSTER" --launch-type FARGATE --task-definition "$TASK_DEFINITION" --network-configuration "awsvpcConfiguration={subnets=[subnet-0d51c122320a5109d,subnet-0ac8857c1a1fae109,subnet-023faa26a32d874f9],securityGroups=[sg-0febc019ff5d677b5]}"

      - name: Force deployment
        id: force-deploy
        env:
          WEBAPP_SERVICE: ${{ env.AWS_NAMESPACE }}-webapp-service
          SIDEKIQ_SERVICE: ${{ env.AWS_NAMESPACE }}-sidekiq-service
          ECS_CLUSTER: ${{ env.AWS_NAMESPACE }}-ecs-cluster
        run: |
          aws ecs update-service --cluster "$ECS_CLUSTER" --service "$WEBAPP_SERVICE" --force-new-deployment
          aws ecs update-service --cluster "$ECS_CLUSTER" --service "$SIDEKIQ_SERVICE" --force-new-deployment
