# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Deploy to Amazon ECS STAGING

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  AWS_REGION: eu-west-2
  AWS_NAMESPACE: paasmigration-staging
  NODE_VERSION: 24.10.x
  REPORT_ARTIFACT_NAME: cypress_report.html

jobs:
  test:
    name: Run Ruby tests
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      postgres:
        image: postgres:16.10
        env:
          POSTGRES_DB: ukraine_test
          POSTGRES_USER: ukraine
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        # tmpfs makes DB faster by using RAM
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      clamav:
        # Docker Hub image
        image: clamav/clamav:stable
        ports:
          - 3310:3310

    env:
      RAILS_ENV: test
      INSTANCE_NAME: ukraine-sponsor-resettlement-test
      VCAP_SERVICES: '{"redis":[{"instance_name":"ukraine-sponsor-resettlement-test-redis","credentials":{"uri":"redis://redis"}}],"aws-s3-bucket":[{"instance_name":"ukraine-sponsor-resettlement-test-s3","credentials":{"aws_access_key_id":"access-key-id","aws_secret_access_key":"secret-access-key","aws_region":"eu-west-2","bucket_name":"test-bucket"}}]}'
      GEMFILE_RUBY_VERSION: 3.1.4
      DB_HOST: localhost
      DB_DATABASE: ukraine_test
      DB_USERNAME: ukraine
      DB_PASSWORD: password
      GOVUK_NOTIFY_API_KEY: ${{ secrets.GOVUK_NOTIFY_API_KEY }}
      CLAMD_HOST: localhost
      CLAMD_PORT: 3310

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install clamav
        run: |
          sudo apt-get update
          sudo apt-get install clamdscan

      - name: Create DB
        run: |
          bundle exec rake db:prepare
      - name: Migrate DB
        run: |
          bundle exec rake db:migrate
      - name: Compile Assets
        run: |
          bundle exec rake assets:precompile
      - name: Run localstack
        run: |
          docker run -d\
            --rm \
            -p 4566:4566 \
            -v "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack" \
            -v "/var/run/docker.sock:/var/run/docker.sock" \
            -v "./bin/init-s3-localstack.py:/etc/localstack/init/ready.d/init-s3.py" \
            localstack/localstack:s3-latest
      - name: Run tests
        run: |
          bundle exec rake

  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true

      - name: Rubocop
        run: |
          bundle exec rubocop

  audit:
    name: Audit dependencies
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true

      - name: Audit
        run: |
          bundle exec bundler-audit

  brakeman-scan:
    name: Brakeman Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4

      # Customize the ruby version depending on your needs
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1

      - name: Setup Brakeman
        run: |
          gem install brakeman

      # Execute Brakeman CLI and generate a SARIF output with the security issues identified during the analysis
      - name: Scan
        run: |
          brakeman --color -o /dev/stdout

  build-and-push-image:
    name: Build webapp image and push to AWS ECR
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      IMAGE_NAME: ukrainian-sponsor-resettlement-webapp
    environment: aws-staging
    outputs:
      IMAGE: ${{ steps.build-docker-image.outputs.IMAGE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build docker image
        id: build-docker-image
        env:
          IMAGE: "${{ steps.login-ecr.outputs.registry }}/${{ env.AWS_NAMESPACE }}-webapp-repository:latest"
        run: |
          docker build -t "$IMAGE" -f Dockerfile .
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          echo "IMAGE=$IMAGE" >> $GITHUB_OUTPUT

      - name: Push docker image to AWS ECR
        run: docker push "$IMAGE"

  cypress-e2e:
    name: Run Cypress End-to-End Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: build-and-push-image
    environment: aws-staging
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: "automated_tests/package-lock.json"
      - name: Install node deps
        working-directory: automated_tests
        run: npm ci

      - name: Run webapp
        env:
          WEBAPP_IMAGE: 546423753676.dkr.ecr.eu-west-2.amazonaws.com/paasmigration-staging-webapp-repository:latest
        run: make run-webapp-docker
      - name: Run db migrations
        env:
          WEBAPP_IMAGE: 546423753676.dkr.ecr.eu-west-2.amazonaws.com/paasmigration-staging-webapp-repository:latest
        run: make db-migrate-docker

      - name: Run Cypress tests
        working-directory: automated_tests
        run: npm run headless

      - name: Upload Cypress report
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.REPORT_ARTIFACT_NAME }}
          path: "automated_reports/reports/html/index.html"
          if-no-files-found: warn

  deploy:
    name: Deploy to ECS
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: ${{ github.actor != 'dependabot[bot]' }}
    environment: aws-staging
    needs: cypress-e2e
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Run DB migrations
        id: db-migrate
        env:
          TASK_DEFINITION: ${{ env.AWS_NAMESPACE }}-dbmigrate
          ECS_CLUSTER: ${{ env.AWS_NAMESPACE }}-ecs-cluster
        run: aws ecs run-task --cluster "$ECS_CLUSTER" --launch-type FARGATE --task-definition "$TASK_DEFINITION" --network-configuration "awsvpcConfiguration={subnets=[subnet-0d51c122320a5109d,subnet-0ac8857c1a1fae109,subnet-023faa26a32d874f9],securityGroups=[sg-0febc019ff5d677b5]}"

      - name: Force deployment
        id: force-deploy
        env:
          WEBAPP_SERVICE: ${{ env.AWS_NAMESPACE }}-webapp-service
          SIDEKIQ_SERVICE: ${{ env.AWS_NAMESPACE }}-sidekiq-service
          ECS_CLUSTER: ${{ env.AWS_NAMESPACE }}-ecs-cluster
        run: |
          aws ecs update-service --cluster "$ECS_CLUSTER" --service "$WEBAPP_SERVICE" --force-new-deployment
          aws ecs update-service --cluster "$ECS_CLUSTER" --service "$SIDEKIQ_SERVICE" --force-new-deployment
