<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you for registering
          </h1>
          <div class="govuk-panel__body">
            Your reference number is <br><strong><%= @app_reference %></strong>
          </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">

          We will securely share your information with your local council. They or one of their charitable partners will contact you with more information.
          <br></br>
          Your council may then conduct checks on you and your property to ensure everything is suitable for hosting.
          <br></br>

          We will send you a confirmation email with your reference number and the information on this page. 
          <br></br>

          We will also send you helpful emails about the Homes for Ukraine Scheme from time to time.
          <br></br>

          We recommend that you <a target="_blank" href="https://www.gov.uk/guidance/homes-for-ukraine-sponsor-guidance">read the guidance for sponsors</a>, which contains detailed information about sponsoring and hosting people from Ukraine.

        </p>


      </div>
    </div>
  </main>
</div>
